<div id="about" class="section">
  <h3>About Me</h3>
  <div
    fxLayout
    fxLayout.lt-sm="column"
    fxLayoutGap="20px"
    fxLayoutGap.lt-sm="0"
  >
    <div fxFlex>
      <div class="text">
        I always loved my art classes in school, but I knew I would never make a
        career out of it. Math was were I really excelled, so I figured I'd go
        into a career that would utalize that. When I found computer
        programming, I enjoyed it at first, but when I realized it was almost
        like making art out of technology, I really fell in love.
      </div>
      <div class="text">
        Both my parents used to be computer programmers, which is the real
        reason I gave it a try, and lucky it was the perfect match for me.
        Combining my creative nature, and my technical skills, I love being able
        to make a website come to life.
      </div>
      <div class="text">
        Some of my interests outside of work include movies & TV, video games,
        baking, and Pokemon TCG card collecting.
      </div>
    </div>
    <div fxLayoutAlign.lt-sm="center">
      <img
        src="assets/headshot-cropped.jpg"
        alt="Courtney Headshot"
        width="300px"
        class="headshot"
      />
    </div>
  </div>
</div>
