//
// VARIABLES
//

// Colors
// $blue: #4183c4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ccc;
$lighterGray: #eee;
$white: #fff;
$blue: #7f55f8;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$notoSerif: "Noto Serif", serif;
$notoSans: "Noto Sans", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 900px) {
    @content;
  }
}
