h1 {
  font-size: 22px;
  text-align: left;
  margin: 100px 0 0 0;
  color: var(--pink);
}

h2 {
  font-size: 60px;
  margin: 0;
}

.third {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 959px) {
  h1 {
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: 599px) {
  h1 {
    margin: 35px 0 0 0;
  }
  h2 {
    font-size: 50px;
  }
  .third {
    font-size: 32px;
  }
}
