<div class="container">
  <div class="section one">
    <h1>Hi, my name is</h1>
    <h2>Courtney Medellin</h2>
    <div class="third">I design and develop for the web</div>

    <div class="text">
      Front End development truly is my passion. While others dread the idea of
      centering a div in CSS, I thrive on it. Being able to create websites from
      the users perspective is both fun and challenging and allows me to utilize
      the creative part of me, along with the technical part.
    </div>
  </div>

  <!-- <div class="gif" *ngIf="show">
    <div fxFlex fxFlexAlign="end" class="life">Bring me to life!</div>
    <img
      [src]="play ? 'assets/bruni.gif' : 'assets/bruni-one.gif'"
      alt="Bruni gif"
      (click)="play = !play"
    />
  </div> -->

  <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-contact></app-contact>
</div>
