.project-grid {
  margin: 0 0 30px;
  .card {
    border-radius: 5px;
    background: var(--medium-purple);
    padding: 18px 21px;
    .title {
      font-size: 17px;
      font-weight: bold;
    }
    .card-text {
      padding: 15px 0;
    }
    .typewriter {
      font-family: "Courier New", monospace;
      font-size: 15px;
    }
  }
}
