<div id="work" class="section">
  <h3>Projects & Related Work</h3>

  <div
    gdColumns="1fr 1fr 1fr"
    gdColumns.lt-sm="1fr"
    gdGap="20px"
    class="project-grid"
  >
    <a class="card" href="https://cohrose.github.io/pokemon/">
      <div>
        <div class="title" fxFlex>Pokemon</div>
        <img src="assets/pokeball.png" alt="Pokeball" width="27px" />
      </div>

      <div class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
      </div>
      <div class="typewriter">Angular</div>
    </a>

    <a class="card" href="https://cohrose.github.io/pokemon/">
      <div>
        <div class="title" fxFlex>Berries</div>
        <img src="assets/razz-berry.png" alt="Razz Berry" width="27px" />
      </div>

      <div class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
      </div>
      <div class="typewriter">React</div>
    </a>

    <a class="card" href="https://cohrose.github.io/pokemon/">
      <div>
        <div class="title" fxFlex>Incubator</div>
        <img src="assets/egg.png" alt="Pokeball" width="27px" />
      </div>

      <div class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
      </div>
      <div class="typewriter">Vue.js</div>
    </a>
  </div>

  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
