<div id="work" class="section">
  <h3>Projects & Related Work</h3>

  <!-- <div
    gdColumns="1fr 1fr 1fr"
    gdColumns.lt-sm="1fr"
    gdGap="20px"
    class="project-grid"
  > -->
  <div
    gdColumns="1fr 1fr"
    gdColumns.lt-sm="1fr"
    gdGap="20px"
    class="project-grid"
  >
    <a class="card" href="https://cohrose.github.io/pokemon/" target="_blank">
      <div>
        <div class="title" fxFlex>Pokemon</div>
        <img src="assets/pokeball.png" alt="Pokeball" width="27px" />
      </div>

      <div class="card-text">
        Collection of all Pokemon organized by generation, along with shiny
        variations, and stats for each Pokemon.
      </div>
      <div class="typewriter">Angular</div>
    </a>

    <a class="card" href="https://cohrose.github.io/blog/" target="_blank">
      <div>
        <div class="title" fxFlex>Blog</div>
        <img src="assets/blogging.png" alt="Blog" width="27px" />
      </div>

      <div class="card-text">Personal coding blog</div>
      <div class="typewriter">Angular</div>
    </a>
  </div>

  <div class="text">
    Above is a couple of my personal projects I've made for fun. I apologize if
    you're unfamiliar with the Pokemon franchise, I have more fun with subjects
    I'm passionate about.
  </div>
  <div class="text">
    During my time at UNF, I worked on many WebApps for the University,
    students, faculty, and staff. Some of the most memorable projects are as
    follows:
  </div>

  <div fxLayout fxLayout.lt-md="column" fxLayoutGap="35px" class="project-card">
    <img
      fxHide.lt-md
      src="assets/mserf-cropped.jpg"
      alt="UNF MSERF Project Image"
      width="500px"
    />
    <div fxFlex>
      <div class="title">UNF MSERF WebApp</div>
      <div class="title-under">
        Materials Science and Engineering Research Facility
      </div>
      <img
        fxShow
        fxHide.gt-sm
        src="assets/mserf-cropped.jpg"
        alt="UNF MSERF Project Image"
        width="500px"
        class="mobile"
      />
      <div class="description">
        The calendar was my favorite feature of this WebApp. I used a package
        called
        <a href="https://www.npmjs.com/package/angular-calendar" target="_blank"
          >Angular Calendar</a
        >, which was really fun to use since it was so customizable.
        <div class="padding">
          The purpose of this app is to book reservations for lab equipment.
          Along with reserving a time and device, users also had to specify any
          materials they may need, such as gold foil.
        </div>
        <div class="padding typewriter" fxLayout fxLayoutGap="20px">
          <div>Angular</div>
          <div>C#</div>
          <div>.Net</div>
        </div>
      </div>
    </div>
  </div>

  <div
    fxLayout
    fxLayout.lt-md="column"
    fxLayoutGap="35px"
    class="project-card margin"
  >
    <div fxFlex>
      <div class="title">UNF Student Trends WebApp</div>
      <img
        fxShow
        fxHide.gt-sm
        src="assets/trends.jpg"
        alt="UNF Student Trends Project Image"
        width="500px"
        class="mobile"
      />
      <div class="description">
        The most challenging aspects of this WebApp were the dynamic charts we
        created with
        <a href="https://d3js.org/" target="_blank">D3</a>. I was responsible
        for the scatterplot, while others worked on different features.
        <div class="padding">
          The purpose of this app is to display different aspects of student
          engagement in their college experience. Students can view how often
          they visited the library, how their GPA changed over time, or see how
          many credit hours they earned per semester.
        </div>
        <div class="padding typewriter" fxLayout fxLayoutGap="20px">
          <div>Angular</div>
          <div>D3</div>
          <div>C#</div>
          <div>.Net</div>
        </div>
      </div>
    </div>
    <img
      fxHide.lt-md
      src="assets/trends.jpg"
      alt="UNF Student Trends Project Image"
      width="500px"
    />
  </div>

  <div
    fxLayout
    fxLayout.lt-md="column"
    fxLayoutGap="35px"
    class="project-card margin-small"
  >
    <img
      fxHide.lt-md
      src="assets/mywings.jpg"
      alt="UNF MyWings Portal"
      width="500px"
    />
    <div fxFlex>
      <div class="title">UNF MyWings Portal</div>
      <img
        fxShow
        fxHide.gt-sm
        src="assets/mywings.jpg"
        alt="UNF MyWings Portal"
        width="500px"
        class="mobile"
      />

      <div class="description">
        The
        <a href="https://campusm.exlibrisgroup.com/" target="_blank">vendor</a>
        for UNF's student portal updated their custom developemnt process, so we
        decided to take this opportunity to do a re-design, which meant we had
        to remake all our custom pages in React.
        <div class="padding">
          I was responsible for all the React custom pages. Since this is a
          vendor project, we had to adhere to their
          <a
            href="https://developers.exlibrisgroup.com/campusm/npm/"
            target="_blank"
            >Application Extension Kit (AEK)</a
          >
          to create most features. It was really fun switching it up to React
          since I was used to Angular.
        </div>
        <div class="padding typewriter" fxLayout fxLayoutGap="20px">
          <div>React</div>
          <div>AEK</div>
        </div>
      </div>
    </div>
  </div>
</div>
