<div id="top"></div>
<header>
  <div fxFlex fxLayout fxFlexAlign="center">
    <div fxFlex>
      <a
        (click)="scroll('top')"
        routerLink="/"
        matTooltip="Back to Top"
        matTooltipPosition="after"
        matTooltipClass="tooltip"
        class="code"
      >
        <i class="fa-solid fa-code fa-lg"></i>
      </a>
    </div>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px" class="header-buttons">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
    </div>
    <div class="header-menu" fxLayout="column">
      <button mat-icon-button (click)="showMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div
        fxLayout="column"
        fxLayoutGap="7px"
        *ngIf="menu"
        class="menu-buttons"
      >
        <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
      </div>
    </div>
  </div>
</header>

<ng-template #menuItems>
  <button mat-button (click)="scroll('about')">About</button>
  <button mat-button (click)="scroll('skills')">Skills</button>
  <button mat-button (click)="scroll('work')">Projects</button>
  <button mat-button (click)="scroll('contact')">Contact</button>
</ng-template>

<!-- <div class="side-line">
  <div class="line"></div>
  <i class="fa-solid fa-circle"></i>
  <div class="line"></div>
  <i class="fa-solid fa-circle"></i>
  <div class="line"></div>
  <i class="fa-solid fa-circle"></i>
  <div class="line half"></div>
</div> -->

<main fxFlex>
  <router-outlet></router-outlet>
</main>

<div class="social">
  <a
    mat-icon-button
    matTooltip="LinkedIn"
    matTooltipPosition="after"
    matTooltipClass="tooltip"
    href="https://www.linkedin.com/in/courtneymedellin/"
    target="_blank"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a
    mat-icon-button
    matTooltip="Email"
    matTooltipPosition="after"
    matTooltipClass="tooltip"
    href="mailto:chalt0319@gmail.com"
  >
    <i class="fa-regular fa-envelope"></i>
  </a>
  <a
    mat-icon-button
    matTooltip="Resume"
    matTooltipPosition="after"
    matTooltipClass="tooltip"
    href="assets/CourtneyMedellinResume.pdf"
    target="_blank"
  >
    <i class="fa-regular fa-file"></i>
  </a>
</div>
<div style="position: relative">
  <img
    *ngIf="pikachu"
    class="pikachu"
    src="assets/pikachu.gif"
    alt="Pikachu gif"
    width="200px"
  />
</div>

<footer>
  Designed
  <button class="easter-egg" mat-icon-button (click)="showPikachu()">&</button>
  Built by Courtney Medellin
</footer>
