<div id="top"></div>
<header>
  <div fxFlex fxLayout fxFlexAlign="center">
    <div fxFlex>
      <a
        (click)="scroll('top')"
        routerLink="/"
        matTooltip="Back to Top"
        matTooltipPosition="after"
        class="code"
      >
        <i class="fa-solid fa-code fa-lg"></i>
      </a>
    </div>
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px" class="header-buttons">
      <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
    </div>
    <div class="header-menu" fxLayout="column">
      <button mat-icon-button (click)="showMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div fxLayout="column" *ngIf="menu" class="menu-buttons">
        <ng-container [ngTemplateOutlet]="menuItems"></ng-container>
      </div>
    </div>
  </div>
</header>

<ng-template #menuItems>
  <button mat-button (click)="scroll('about')">About</button>
  <button mat-button (click)="scroll('skills')">Skills</button>
  <button mat-button (click)="scroll('work')">Projects</button>
  <button mat-button (click)="scroll('contact')">Contact</button>
</ng-template>

<!-- <div class="side-line">
  <div class="line"></div>
  <i class="fa-solid fa-circle"></i>
  <div class="line"></div>
  <i class="fa-solid fa-circle"></i>
  <div class="line"></div>
  <i class="fa-solid fa-circle"></i>
  <div class="line half"></div>
</div> -->

<main fxFlex>
  <router-outlet></router-outlet>
</main>

<div class="social">
  <button mat-icon-button matTooltip="LinkedIn" matTooltipPosition="after">
    <i class="fa-brands fa-linkedin"></i>
  </button>
  <button mat-icon-button matTooltip="Email" matTooltipPosition="after">
    <i class="fa-regular fa-envelope"></i>
  </button>
  <button mat-icon-button matTooltip="Resume" matTooltipPosition="after">
    <i class="fa-regular fa-file"></i>
  </button>
</div>

<footer>Designed & Built by Courtney Medellin</footer>
