<div id="skills" class="section">
  <h3>Skills & Experience</h3>
  <div class="text">
    My greatest skills are organization, and attention to detail. I'm a very
    hard worker, but I will always admit when I'm to blame. Since I'm an
    introvert, I hate interviews; therefore, I'm a very loyal employee, mainly
    due to my crippling anxiety about interviews.
  </div>
  <div class="text">
    Angular is my favorite framework to code with, and I've had the most
    experience with it. I enjoy the freedom it allows and the ability to use
    design components such as Angular Material for a cohesive look and feel.
  </div>
  <div
    gdColumns="300px 300px"
    gdColumns.lt-md="250px 250px"
    gdColumns.lt-sm="165px 165px"
    gdGap="15px"
    class="grid"
  >
    <div>
      <i class="fa-brands fa-angular"></i>
      <span>Angular</span>
    </div>
    <div>
      <i class="fa-brands fa-react"></i>
      <span>React</span>
    </div>
    <div>
      <i class="fa-brands fa-vuejs"></i>
      <span>Vue.js</span>
    </div>
    <div>
      <i class="fa-brands fa-js"></i>
      <span>Javascript</span>
    </div>
    <div>
      <i class="fa-brands fa-sass"></i>
      <span>Sass</span>
    </div>

    <div><i class="fa-brands fa-npm"></i> <span>npm</span></div>
    <!-- <div>
      <i class="fa-brands fa-html5"></i>
      <span>HTML</span>
    </div>
    <div>
      <i class="fa-brands fa-css3-alt"></i>
      <span>CSS</span>
    </div> -->
  </div>
</div>
