<div id="skills" class="section">
  <h3>Skills & Experience</h3>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div
    gdColumns="300px 300px"
    gdColumns.lt-md="250px 250px"
    gdColumns.lt-sm="175px 175px"
    gdGap="15px"
    class="grid"
  >
    <div>
      <i class="fa-brands fa-angular"></i>
      <span>Angular</span>
    </div>
    <div>
      <i class="fa-brands fa-react"></i>
      <span>React</span>
    </div>
    <div>
      <i class="fa-brands fa-vuejs"></i>
      <span>Vue.js</span>
    </div>
    <div>
      <i class="fa-brands fa-js"></i>
      <span>Javascript</span>
    </div>
    <div>
      <i class="fa-brands fa-html5"></i>
      <span>HTML</span>
    </div>
    <div>
      <i class="fa-brands fa-css3-alt"></i>
      <span>CSS</span>
    </div>
  </div>
</div>
