<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{
      site.description }}
    </title>
    {% include meta.html %}
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml"
    />
  </head>

  <body>
    <div id="sidebar">
      <div class="menu-toggle" onclick="toggleMenu()">
        <div class="toggle-bar"></div>
        <div class="toggle-bar"></div>
        <div class="toggle-bar"></div>
        <div class="toggle-bar"></div>
        <div class="toggle-bar"></div>
      </div>
      <div class="masthead">
        <h1 class="site-name">
          <a href="{{ site.baseurl }}/">{{ site.name }}</a>
        </h1>
        <p class="site-description">{{ site.description }}</p>
      </div>
      <div id="togglable" class="closed">
        <div class="site-recents">
          <div class="site-recents-label">HTML / CSS</div>
          {% for post in site.categories.HTML-CSS %}
          <div class="site-recents-post">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
          {% endfor %}
          <div class="site-recents-label">Typescript</div>
          {% for post in site.categories.TS %}
          <div class="site-recents-post">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
          {% endfor %}
        </div>
        <div class="social">{% include svg-icons.html %}</div>
      </div>
    </div>
    <div id="main" role="main">
      {{ content }}
    </div>

    {% include analytics.html %} {% include js.html %}
  </body>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</html>
